[flake8]
ignore = E111,E114,E121,E501,W605,W291,W293,E261,W504
exclude = .git,__pycache__,.venv,build,dist,./src/exer_demo,./src/exer_launch,./src/shuttle_modelcar_adapter,./install
max-line-length = 120
